/.phpunit.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.nova
/.zed
.codegpt
/.qodo
/bootstrap/cache/*.php
/bootstrap/cache
/bootstrap/cache/*.json
/bootstrap/cache/*.log
/storage/debugbar
/storage
*.log
.DS_Store
/storage/pail
Thumbs.db
/modules/saas/node_modules 